{% extends 'blog/base.html' %}

{% block content %}  
    {% for article in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ article.author.profile.pic.url }}">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'profile' article.author.pk %}">{{article.author}}</a>
                <small class="text-muted">{{article.date_created}}</small>
            </div>
            <h2><a class="article-title" href="{% url 'article_details' article.pk %}">{{article.title}}</a></h2>
            <p class="article-content">{{article.content|truncatewords:50}}</p>
            </div>
        </article>
    {% endfor %}               
{% endblock content %}